@font-face {
  font-family: 'BeonRegular';
  src: url('fonts/Beon/Beon-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* The following rules are deprecated. */

@font-face {
  font-family: 'Beon';
  src: url('fonts/Beon/Beon-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body
{
  /* text-align : center; */
  background-color:#FF451D;
  font-family: 'BeonRegular';
  font-weight: normal;
  font-style: normal;


}


.button
{
  width : 30vh;
  height : 10vh;
  background : #504F4F;
  color: white;
  border: 2px solid transparent;
  border-radius: 3px;
  font-family: 'BeonRegular';
  font-weight: normal;
  font-style: normal;
}

.button:hover
{
  cursor:pointer;
}

.champ
{
  height:50%;
  width:30%;
  position:absolute;
}

input
{
  width: 30vh;
  padding: 12px 20px;
  box-sizing: border-box;
}

input:focus
{
  border: 3px solid #504F4F;
}

.messages {
  border: 0px outset transparent;
  background-color: white;
  width: 40vh;
  min-height: 10vh;
  max-height: 30vh;
  float: left;
  overflow: auto;
}

.die_img
{
  height: 50px;
  width: auto;
}

/* #launch_button
{
  position:absolute;
  bottom: 5vh;
  right: 30vh;
} */
.die_class {
  position:absolute;
  bottom: 5vh;
  right: 30vh;
}
