
@font-face {
  font-family: 'BeonRegular';
  src: url('fonts/Beon/Beon-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* The following rules are deprecated. */

@font-face {
  font-family: 'Beon';
  src: url('fonts/Beon/Beon-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body
{
  /* text-align : center; */
  background-color:#FF451D;
  font-family: 'BeonRegular';
  font-weight: normal;
  font-style: normal;
  font-size: 500%;

}


.button
{
  width : 30vh;
  height : 10vh;
  background : #504F4F;
  color: white;
  border: 2px solid transparent;
  border-radius: 3px;
  font-family: 'BeonRegular';
  font-weight: normal;
  font-style: normal;
  font-size: 20%;
}

.button:hover
{
  cursor:pointer;
}

.champ
{
  height:50%;
  width:30%;
  position:absolute;"
}

input
{
  width: 30vh;
  padding: 12px 20px;
  box-sizing: border-box;
}

input:focus
{
  border: 3px solid #504F4F;
}
